.accordion {
  margin: 2rem 0;
}

.MuiAccordionDetails-root {
  display: block !important;
}

.question-container {
  display: grid;
  justify-content: center;
  grid-row-gap: 1rem;
  margin: 0 0 1rem 0;
}
