.accordion {
  margin: 2rem 0;
}

.MuiAccordionDetails-root {
  display: block !important;
}

.answer-container {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.75rem 0.75rem 0 0.75rem;
}
